.card{
    max-width:500px;
    height:max-content;
    margin: 25px auto;
    border:1px solid rgb(173,173,173);
    border-radius: 5px;
}
.card-header{
    
display: flex;

}
.card-header >h5{
    margin: 0;
    padding: 11px;
}
.card-pic{
    display: flex;
}
.card-pic img{
    width:34px ;
    
    border-radius: 40px;
    height: auto;
    object-fit: contain;
    padding: 15px;
}

.card-img img{
    width:100%
}
.card-content{
    text-align:left;
    line-height: 4px;
    padding: 3px 10px;
    border-bottom:1px solid rgb(173,173,173);
}
.card-content span{
    margin-right:7px;
}
.add-comment{
    display: flex;
    align-items:center;
}
.add-comment input{
    margin: 0;
    border:none;
    padding: 10px;
    outline: none;

}
.add-comment button{
    border:none;
    font-weight: bolder;
    color:#339ce3;
    outline:none;
    background: none;
    cursor:pointer;
}
