img{
    width:10%;
    object-fit:contain;
}
#navbar{
    display:flex;
    justify-content: space-around;
    box-shadow: 1px 5px 5px #e0dcdc ;
 position:sticky;
 top:0;
 background-color: white;
}
ul{
    display: flex;
    padding: 0px 15px;
    align-items: baseline;
    /* justify-content: space-around; */
}
li{
    list-style: none;
    margin-left: 10px;
    padding :1px 15px;
}
a{
    text-decoration:none ;
    color: #000;
    font-size: 18px;

}
.primaryBtn{
    cursor: pointer;
    font-weight: bolder;
    padding: 13px 25px;
    border: none;
    color: white;
    border: #db183c;
    border-radius: 15px;
    margin-left: 15px;
    transition: all 0.25s ease;
    background: #db183c;
}
.primaryBtn:hover{
    transform: translateY(-5px);
    box-shadow: 0 10px 20px -10px rgba(219,24,44,0.6);
}