.signin {
    background-image: url(../images/signupbackground.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loginform {
    background-color: #ffffff4d;
    padding: 30px;
    border: 1px solid #e0dcdc;
    border-radius: 2px;
}

.signinlogo {
    width: 200px;
    object-fit: contain;
    padding: 10px 10px;
}

span {
    color: rgb(74, 6, 246);
    cursor: pointer;
}

#login-btn {
    background-color: blue;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    border: none;
    margin-top: 10px;


}

.login2 {
    background-color: #fff;
    margin-top: 10px;
    padding: 30px;
    border: 1px solid #e0dcdc;
    border-radius: 2px;
    padding: 20PX;
    /* height: 20px; */
}